<% layout('/layouts/boilerplate') %>

<div class="row mt-5">
  <div class="col-6 offset-3">
    <h2 class="mb-4 text-center">
      Login
      <a class="navbar-brand bg-body-light" href="/">
        <i class="fa-solid fa-hotel"></i>
      </a>
      LodeLink
    </h2>
    <form action="/login" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          autocomplete="username"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          autocomplete="new-password"
          required
        />
      </div>

      <button type="submit" class="btn btn-success w-100">Login</button>

      <p class="text-danger text-center mt-3 fw-bold">
        <a href="/signup" class="text-danger text-decoration-none"
          >Account Not Exist? Sign Up</a
        >
      </p>
    </form>
  </div>
</div>
