<% layout('/layouts/boilerplate') %>

<div class="row mt-5">
  <div class="col-6 offset-3">
    <h2 class="mb-4 text-center">
      SignUp
      <a class="navbar-brand bg-body-light" href="/">
        <i class="fa-solid fa-hotel"></i>
      </a>
      LodeLink
    </h2>
    <form action="/signUp" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          autocomplete="username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          autocomplete="email"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          autocomplete="new-password"
          required
        />
      </div>

      <button type="submit" class="btn btn-success w-100">Sign Up</button>
    </form>
    <p class="text-danger text-center mt-3 fw-bold">
      <a href="/login" class="text-danger text-decoration-none"
        >Account Exist? Login</a
      >
    </p>
  </div>
</div>
